.databricks/
build/
dist/
__pycache__/
*.egg-info
venv/
scratch/**
!scratch/README.md
**/explorations/**
**/!explorations/README.md
lh_nautical_dbt_databricks/.env
lh_nautical_dbt_databricks/load_env.ps1
